.CAD_USR{
	display: none;
}
.CAD_PRF{
	display: none;
}
.ACS_USR{
	display: none;
}
.NOV_USR{
	display: none;
}
.EDT_USR{
	display: none;
}
.STU_USR{
	display: none;
}
.PRF_ACS{
	display: none;
}
.ADD_RTN{
	display: none;
}
.DSC_PRF{
	display: none;
}
.ACS_IND{
	display: none;
}
.ALL_TCK{
	display: none;
}
.SCH_ALL_TCK{
	display: none;
}
.OPN_TCK{
	display: none;
}
.FNZ_TCK{
	display: none;
}
.SLN_TCK{
	display: none;
}	